<div class="container">

    <% if logged_in? %>
      <h1 class="text-center mt-5 mb-3"> <%= @user.name %>'s bag! 🙌✨ </h1>
    <% end %>
  
  <% if @user %>
    <div class="text-center">
      <h3>
      <%= link_to "Create A New Bag", new_user_bag_path, class: "btn btn-outline-success btn-lg my-3" %>
      </h3>
    </div>
  <% end %>
  <% if @bags.empty? %>
    <div class="container text-center mt-5">
      <%= link_to "Bag Check!", user_bags_path(current_user), class: "btn btn-outline-primary btn-lg px-5 py-3" %>  
    </div>
  <% end %>

  <div class="accordion mb-3" id="accordionExample">
    
    <% @bags.each do |bag| %>
      
    <div class="accordion-item">
      <h2> 
          <%= link_to bag.name, user_bag_path(@user, bag) %>
      </h2>
        <div class="accordion-body text-center mx-auto gap-5">
            <%= link_to "Delete", user_bag_path(@user, bag), class: "btn btn-danger btn-lg mx-3 px-5", style: "width: 150px;", method: :delete, data: { confirm: 'Are you certain you want to delete this bag?' } %>
        </div>
      </div>
    </div>

    
    <% end %>

    <h3>
      <%= link_to "Wanna see all the bags?", users_path, class: "btn btn-outline-success btn-lg my-3" %>
    </h3>

  </div>

</div>
